<div class= "row">
	<div class ="col-lg-8"></div>
	<% unless  @user == nil%>
		<% if @user.Hairdresser == "false" %>
				<%= link_to '新規投稿',new_item_path, class: "btn btn-primary"%>
		<% end %>
	<% else %>
	<% end %>
</div>


<div class= "row">
	<div class ="col-lg-1"></div>
	<div class= "col-lg-10">
		<table class="table table-hover table-inverse">
			<h3>投稿一覧</h3>
			<% if @search_items %>
				<div>
					<% @search_items.reverse.each do |item| %>
					<tr>
						<td><h4><%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg",size:'100x100'%></h4></td>
						<td><br><br><h4><%= item.title %></h4></td>
						<td><br><br><h4>コメント数:<%= item.item_comments.count%></h4></td>
						<td><br><br><h4>いいね数:<%= item.nices.count %></h4></td>
						<td><br><br><h4><%= link_to "詳細", item_path(item), class: "btn btn-info" %></h4></td>
					</tr>
				</div>
			<% end %>

			<% else %>
				<%= render 'items/item', item: @items %>
			<% end %>
		</table>
	</div>
	<div class ="col-lg-1"></div>
</div>