<% unless  @user == nil%>
		<% if @user.Hairdresser == "false" %>
			<%= link_to '新規投稿',new_item_path %>
		<% else %>
	<% end %>
	<% else %>
<% end %>


<% if @search_items %>
	<div>
<% @search_items.each do |item| %>
<%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg",size:'100x100'%>
<%= link_to item.title, item_path(item) %>
コメント数
<%= item.item_comments.count%>
いいね数
<%= item.nices.count %>
<div>
</div>
<% end %>
</div>
<% else %>
	<%= render 'items/item', item: @items %>
<% end %>
<%= paginate @items %>