<div class = "row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">

		<h3>新規投稿フォーム</h3>

		<%= form_for (@item) do |f| %>
		<%= render 'layouts/error_messages', model: f.object %>
			<div class="field">
				<div>
					<%= f.label :イメージ %>
				</div>
				<div>
					<%= f.attachment_field :image %>
				</div>
			</div>

			<div class="field">
				<div>
					<%= f.label :タイトル %>
				</div>
				<div>
					<%= f.text_field :title %>
				</div>
			</div>

			<div class="field">
				<div>
					<%= f.label :ジャンル %>
				</div>
				<div>
					<%= f.select :genre, ['1.シャンプー', '2.トリートメント', '3.アウトバストリートメント','4.スタイリング剤',"5.その他"], {include_blank: '---'} %>
				</div>
			</div>

			<div class="field">
				<div>
					<%= f.label :レビュー %>
				</div>
				<div>
					<%= f.text_area :review %>
				</div>
			</div>

			<div class="actions">
				<div>
					<%= f.submit :投稿する %>
				</div>
			</div>

		<% end %>
	</div>
	<div class="col-xs-1"></div>
</div>